body {
    background-color: #231722;
    margin: 10% auto auto auto;
    height: auto;
    max-width: 815px;
    width: 100%;
}

#caixa-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#logo {
    width: 640px;
}

#link-entrar {
    width: 160px;
    height: 58px;
    position: relative;
    margin: 0 auto;
}

#link-entrar > a,p {
    position: absolute;
    text-decoration: none;
}

#link-texto {
    font-size: xxx-large;
    color: #FF001C;
    margin: 0;
}

#link-sombra {
    font-size: xxx-large;
    color: #1f0b0c;
    -webkit-text-stroke: 15px #1f0b0c;
}